:root {
  --primary-color: #ff9854;
  --shallow-color: #aaa;
}

.top-page {
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
}

.small-shallow {
  font-size: 12px;
  color: var(--shallow-color);
}

.mid-shallow {
  font-size: 16px;
  color: var(--shallow-color);
}
